input,
button,
submit {
  border: none;
  background: none;
}

.p-inputtext {
  padding: 8px 15px;
  border: 1.5px solid #cccfd3;
  background: #f6f6f6;
  color: #000;
  font-weight: 500;
}

.p-dropdown {
  background: #f6f6f6;
  border: 1.5px solid #cccfd3;
  box-sizing: border-box;
  border-radius: 6px;
}

.p-dropdown-items-wrapper {
  border: 1px solid #ced1d5;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 8px rgba(37, 40, 43, 0.12));
  border-radius: 8px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #74bd52;
  background: #f3fff7;
}

.p-dropdown-items {
  padding: 0;
}

.datepicker {
  position: relative !important;
  padding: 0;
}

.datepicker.ios .datepicker-content {
  padding-top: 0px !important;
  background-color: white !important;
}

.p-dialog .p-dialog-footer {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
